**/*.pem
**/*.tsbuildinfo
**/.DS_Store
**/.env*.local
**/.next/
**/.pnp
**/.pnp.js
**/.vercel
**/build
**/bun.lock
**/coverage
**/next-env.d.ts
**/node_modules
**/npm-debug.log*
**/out/
**/package-lock.json
**/yarn-debug.log*
**/yarn-error.log*