/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NProgress */
#nprogress .bar {
  background: #0096FF !important;
  height: 2px;
}

#nprogress .peg {
  box-shadow: 0px 0px 0px;
}

#nprogress .spinner-icon {
  border-top-color: #0096FF;
  border-left-color: #0096FF;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #b9b9b9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9F9F9F;
}